{
    "presets":[
        "react",
        "flow"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        "transform-object-rest-spread",
        "react-hot-loader/babel"
    ],
    "env": {
        "test": {
            "presets":[
                [   "env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ],
            "plugins": [
                "transform-class-properties"
            ]
        }
    }
}
