{
    "presets":[
        "@babel/react",
        "@babel/flow"
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "react-hot-loader/babel",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ],
    "env": {
        "test": {
            "presets":[
                [   "env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ],
            "plugins": [
                "transform-class-properties"
            ]
        }
    }
}
