flask
Flask-BasicAuth
flask_restful
pony
Pillow
opencv-python
zbar-py
pylibdmtx
pyStrich
numpy
scipy
pandas
openpyxl
matplotlib
seaborn
pyyaml
git+https://github.com/mstamy2/PyPDF2
pdfrw
reportlab
Wand
