.box.is-graded {
    box-shadow: 0px 0px 6px #23d160, 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.is-tooltip-active::before, .is-tooltip-active::after {
    z-index: 1 !important
}
.tooltip-no-arrow::after {
    display: none !important
}
.input {
    resize: vertical;
}

@media screen and (max-width: 768px) {
  .is-scrollable-mobile {
    overflow-y: auto;
    height: 500px;
  }
}

@media screen and (min-width: 769px), print {
  .is-scrollable-tablet {
    overflow-y: auto;
    height: 500px;
  }
}

@media screen and (max-width: 1023px) {
  .is-scrollable-touch {
    overflow-y: auto;
    height: 576px;
  }
}

@media screen and (min-width: 1024px) {
  .is-scrollable-desktop {
    overflow-y: auto;
    height: 576px;
  }
}

@media screen and (min-width: 1216px) {
  .is-scrollable-widescreen {
    overflow-y: auto;
    height: 684px;
  }
}

@media screen and (min-width: 1408px) {
  .is-scrollable-fullhd {
    overflow-y: auto;
    height: 792px;
  }
}

/* Add a thicker bottom border to every 5th feedback item as divider */
nav > a.feedback-item:nth-child(5n+6):not(:last-of-type) {
    border-bottom-width: 3px;
}
