.box.is-graded {
    box-shadow: 0px 0px 6px #23d160, 0 0 0 1px rgba(10, 10, 10, 0.1);
}
.input {
    resize: vertical;
}

/* Add darker borders to every 5th feedback item */
nav > a.feedback-item:nth-child(5n+6):not(:last-of-type) {
    border-bottom: 1px solid #222;
}
