@media all and (min-width: 480px) {
  .Login {
    padding: 60px;
    margin: 0 auto;
    text-align:center;
  }

  .large-and-just-outline {
    background-color: white;
    border-color: #4CAF50;
    color: green;
    border-radius: 5%;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
}