.level-item.make-wider {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.level-item.make-wider > .field {
    width: 100%
}

.level-item.make-wider .control.is-wider {
    flex-grow: 1;
}
